body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: top-center;
    align-items: center;
    flex-direction: column;
    background-color: linear-gradient(90deg,#0ce9f3 10%, #36c8c9 20%, #357B7F 100%) !important;
}

.container {
    position: relative;
    margin-top: 10px;
    border: 3px blue-green;
    padding: 10px;
}

#board {
    border: 3px blue-green !important;
    cursor: pointer;
    border-radius: 10px;
}

#startButton {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: red;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: none;
}
